{% extends 'base.html.twig' %}

{% block body %}
    <h1>Нет прав</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Доступ на запрашиваемую страницу запрещен!. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}