{% set page_name = 'home' %}
{% extends 'base.html.twig' %}

{% block carousel %}
    <!-- Header Carousel -->
    <div id="myCarousel" class="row carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/slide-1.jpg');"></div>
                <div class="carousel-caption">
                    <ul class="list-unstyled">
                        <li class="slide-caption"><i class="fa fa-check-square-o"></i> Найти работу по компетенции.</li>
                        <li class="slide-caption"><i class="fa fa-check-square-o"></i> Подобрать квалифицированный персонал.</li>
                    </ul>
                    
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/slide-2.jpg');"></div>
                <div class="carousel-caption">
                    <ul class="list-unstyled">
                        <li class="slide-caption"><i class="fa fa-check-square-o"></i> Бюджетное управление проектами.</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/slide-3.jpg');"></div>
                <div class="carousel-caption">
                    <ul class="list-unstyled">
                        <li class="slide-caption"><i class="fa fa-check-square-o"></i> Банк типовых решений для ускорения работ.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>    
{% endblock %}  

{% block body %}
    
    

    <!-- Page Content -->
    {#<div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">#}
            <div class="col-lg-12">
                <div class="col-md-6 text-right">
                <h2>
                    <span class="stroke">Добро пожаловать в центр </span> 
                </h2>
                </div>
                <div class="col-md-6 text-left">
                <h3>
                    <ul class="list-unstyled">
                        <li><span class="stroke"><i class="fa fa-diamond"></i> &ensp;комплектации персоналом </span></li>
                        <li><span class="stroke"><i class="fa fa-diamond"></i> &ensp;типовыми решениями </span></li>
                        <li><span class="stroke"><i class="fa fa-diamond"></i> &ensp;бюджетного управления проектами </span></li>
                    </ul>
                </h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="stroke"><i class="fa fa-fw fa-user-circle"></i> Персоналу</span> - вы можете</h4>
                    </div>
                    <div class="panel-body content_main">
                        <ul class="list-unstyled">
                            <li class=""><i class="fa fa-check-square-o"></i> Найти работу по Вашей компетенции, выставлять свою кандидатуру работодателям.
                        Ваша референция, наработанная как на этом сайте, так и вне
                        его, увеличивает шансы на получение высокооплачиваемых заказов.</li>
                            <li class=""><i class="fa fa-check-square-o"></i> Пользоваться банком типовых решений для ускорения работ.</li>
                        </ul>
                        
                        <a href="#" class="btn btn-default">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default content_main">
                    <div class="panel-heading">
                        <h4><span class="stroke"><i class="fa fa-fw fa-handshake-o"></i> Подрядчикам</span> - вы можете</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li class=""><i class="fa fa-check-square-o"></i> Укомплектоваться специализированным персоналом для выполнения подрядных работ.</li>
                            <li class=""><i class="fa fa-check-square-o"></i> Найти работу Вашему временно незагруженному персоналу.</li>
                            <li class=""><i class="fa fa-check-square-o"></i> Вести бюджетное управление проектом.</li>
                            <li class=""><i class="fa fa-check-square-o"></i> Пользоваться банком типовых решений для ускорения работ.</li>
                        </ul>
                        <a href="#" class="btn btn-default">Подробнее</a>
                    </div>
                </div>
            </div>

      {#  </div>
        <!-- /.row -->
    </div>#}
        
 
{% endblock %}

{% block javascripts %}
    
{{ parent() }}    
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>

{% endblock %}

